# https://www.smarthomebeginner.com/traefik-v3-docker-compose-guide-2024/

services:
  traefik:
    image: traefik:v3.6
    ports:
      - "80:80"
      - "443:443"
      - "8081:8080"
    env_file:
      - .env
    labels:
      - traefik.enable=true
      - traefik.http.routers.traefik.entrypoints=websecure
      - traefik.http.routers.traefik.service=api@internal
      - com.centurylinklabs.watchtower.enable=true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./etc:/etc/traefik
      - ./logs:/logs
    networks:
      - "traefik"
    restart: unless-stopped
    container_name: traefik

networks:
  traefik:
    external: true
