services:
  watchtower:
    image: nickfedor/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - $HOME/.docker/config.json:/config.json # fia auth bei private registries (gh packages), https://containrrr.dev/watchtower/private-registries/
    command: --interval 1800 --label-enable --cleanup
    restart: unless-stopped
    container_name: "watchtower"
    environment:
      TZ: "Europe/Vienna"
